<div class="banner" style="background-image: linear-gradient(-225deg, rgba(247,113,113,0.7) 0%, rgba(0,36,61,0.6) 90%), url('images/baby_mom.png');">
  <div class="banner-content">
    <h1>Votre enfant mérite le meilleur de votre attention</h1>

    <p>Ne soyez jamais seule avec Baby speech</p>
    <a href="" class="btn-red">Venez découvrir</a>
  </div>
</div>
