
.banner {
    color: white;
    text-align: center;
    height: 100vh;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      margin-bottom: 50px;
      opacity: 0.9;
      margin: 50px;
      font-size: 30px;
    }
    p {
      font-size: 20px;
      margin: 50px;
      opacity: 0.6;
    }
}

// .banner-content h1 {
//   margin-bottom: 50px;
//   opacity: 0.9;
//   margin: 50px;
//   font-size: 30px;
// }
// .banner-content p {
//   font-size: 20px;
//   margin: 50px;
//   opacity: 0.6;
// }
